h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
body {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #878787 ;
  border-bottom: 5px solid #f2ff00;
  padding: 15px 50px;
  background-color: black;
}
h1 {
  color: #f2ff00;
}
nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.bold {
  text-transform: uppercase;
  font-weight: bold;
}

.banner {
  background-color: #adadad;
  text-align: center;
  padding: 18px 0px;
  font-weight: normal;
  font-style: italic;
}
.strike {
  color: #878787;
  text-decoration: line-through;
}
.underline {
  text-decoration: underline solid #f2ff00;
}
p { 
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}
.matchProfileBox {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg");
  background-size: cover;
  background-position: 0px -300px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
section {
  background-color: white; 
  padding: 40px 30px;
  padding-bottom: 100px;
  opacity: 0.8;
  margin: 40px;
  margin-top: 150px;
}
.match {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstButton {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #f2ff00;
  padding: 15px 95px;
  font-size: 16px; 
  position: relative;
  margin: 40px;
  bottom: 10.5em;
  border-radius: 5px;
}
#chooseLink {
display: flex;
flex-direction: row;
align-items: center;
}
.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-left: 1px dotted #adadad; 

}
.bottomButton{
  background-color: #adadad;
  position: normal;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
.oswald { font-family: 'Oswald', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }
 
footer {
  color: white;
  background-color: black;
  padding: 10px 50px;
  
}




  

  